.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.col-1 {
  width: 6.275720164609054%;
}
.col-2 {
  width: 14.609053497942387%;
}
.col-3 {
  width: 22.94238683127572%;
}
.col-4 {
  width: 31.275720164609055%;
}
.col-5 {
  width: 39.60905349794239%;
}
.col-6 {
  width: 47.94238683127572%;
}
.col-7 {
  width: 56.275720164609055%;
}
.col-8 {
  width: 64.6090534979424%;
}
.col-9 {
  width: 72.94238683127573%;
}
.col-10 {
  width: 81.27572016460907%;
}
.col-11 {
  width: 89.6090534979424%;
}
.col-12 {
  width: 97.94238683127573%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  position: relative;
  margin-left: 2.05761316872428%;
}
.row {
  zoom: 1;
  margin-left: -2.05761316872428%;
  width: 102.05761316872427%;
}
.row:before,
.row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
.row-inverted,
.row-flip {
  zoom: 1;
  margin-right: -2.05761316872428%;
  width: 102.05761316872427%;
}
.row-inverted:before,
.row-flip:before,
.row-inverted:after,
.row-flip:after {
  content: '';
  display: table;
}
.row-inverted:after,
.row-flip:after {
  clear: both;
}
.row-inverted > .col-1,
.row-flip > .col-1,
.row-inverted > .col-2,
.row-flip > .col-2,
.row-inverted > .col-3,
.row-flip > .col-3,
.row-inverted > .col-4,
.row-flip > .col-4,
.row-inverted > .col-5,
.row-flip > .col-5,
.row-inverted > .col-6,
.row-flip > .col-6,
.row-inverted > .col-7,
.row-flip > .col-7,
.row-inverted > .col-8,
.row-flip > .col-8,
.row-inverted > .col-9,
.row-flip > .col-9,
.row-inverted > .col-10,
.row-flip > .col-10,
.row-inverted > .col-11,
.row-flip > .col-11,
.row-inverted > .col-12,
.row-flip > .col-12 {
  float: right;
  margin-left: 0;
  margin-right: 2.05761316872428%;
}
ul.row,
ul.row-inverted,
ul.row-flip {
  padding: 0;
  list-style: none;
}
.grid-debug * {
  background-color: rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 799px) {
  .m-col-1 {
    width: 6.275720164609054%;
  }
  .m-col-2 {
    width: 14.609053497942387%;
  }
  .m-col-3 {
    width: 22.94238683127572%;
  }
  .m-col-4 {
    width: 31.275720164609055%;
  }
  .m-col-5 {
    width: 39.60905349794239%;
  }
  .m-col-6 {
    width: 47.94238683127572%;
  }
  .m-col-7 {
    width: 56.275720164609055%;
  }
  .m-col-8 {
    width: 64.6090534979424%;
  }
  .m-col-9 {
    width: 72.94238683127573%;
  }
  .m-col-10 {
    width: 81.27572016460907%;
  }
  .m-col-11 {
    width: 89.6090534979424%;
  }
  .m-col-12 {
    width: 97.94238683127573%;
  }
}
@media only screen and (max-width: 479px) {
  .s-col-1 {
    width: 6.275720164609054%;
  }
  .s-col-2 {
    width: 14.609053497942387%;
  }
  .s-col-3 {
    width: 22.94238683127572%;
  }
  .s-col-4 {
    width: 31.275720164609055%;
  }
  .s-col-5 {
    width: 39.60905349794239%;
  }
  .s-col-6 {
    width: 47.94238683127572%;
  }
  .s-col-7 {
    width: 56.275720164609055%;
  }
  .s-col-8 {
    width: 64.6090534979424%;
  }
  .s-col-9 {
    width: 72.94238683127573%;
  }
  .s-col-10 {
    width: 81.27572016460907%;
  }
  .s-col-11 {
    width: 89.6090534979424%;
  }
  .s-col-12 {
    width: 97.94238683127573%;
  }
}
@media only screen and (min-width: 800px) {
  .s-visible,
  .m-visible {
    display: none;
  }
  .l-hidden {
    display: none;
  }
  body.grid-debug,
  .grid-debug body {
    background-color: #bfd9bf;
  }
  .grid-debug .s-visible,
  .grid-debug .m-visible {
    display: block;
    background: red !important;
  }
  .grid-debug .l-hidden {
    display: block;
    background: red !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 799px) {
  .s-visible {
    display: none;
  }
  .m-hidden {
    display: none;
  }
  body.grid-debug,
  .grid-debug body {
    background-color: #c5ce87;
  }
  .grid-debug .s-visible {
    display: block;
    background: red !important;
  }
  .grid-debug .m-hidden {
    display: block;
    background: red !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .s-hidden {
    display: none;
  }
  .m-visible,
  .l-visible {
    display: none;
  }
  body.grid-debug,
  .grid-debug body {
    background-color: #e0b6b6;
  }
  .grid-debug .s-hidden {
    display: block;
    background: red !important;
  }
  .grid-debug .m-visible,
  .grid-debug .l-visible {
    display: block;
    background: red !important;
  }
}
